<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Point Pro 2</title>
    <link rel="icon" href="../../../../favicon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../../../public/css/reset.css">
    <link rel="stylesheet" href="product.css">
</head>
<body>
    <div class="products__detail">
        <img src="" alt="">
        <h2>Você ganhou 81% na sua Point Pro 2!</h2>
        <a class="products__detail__purchaseLink" href="" target="_blank">Compre com desconto aqui!</a>
    </div>
    <button class="products__detail__button">Detalhes</button>

    <div class="products__moreInfo">
        <div class="products__moreInfo__list">
            <ul>
                <li>
                    <span class="material-icons">local_shipping</span>
                    <p>Frete Grátis para todo o Brasil</p>
                </li>
                <li>
                    <span class="material-icons">wifi</span>
                    <p>Plano de dados grátis e Wi-fi</p>
                </li>
                <li>
                    <span class="material-icons">credit_card</span>
                    <p>Aceita cartões, pagamento por aproximação, QR e Pix</p>
                </li>
                <li>
                    <span class="material-icons">sticky_note_2</span>
                    <p>Imprime comprovantes e tem reposição de bobinas Grátis</p>
                </li>
                <li>
                    <span class="material-icons">battery_charging_full</span>
                    <p>Inclui bateria que dura o dia todo.</p>
                </li>
            </ul>
        </div>
        <button class="products__moreInfo__button">Voltar</button>
    </div>
    <script src="../../../../public/js/modalScript.js" defer></script>
</body>
</html>