*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, 
body {
    font-size: 62.5% !important;
}

body {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 0 2.4rem;
}

.header__items {
    background-color: #6EC3D4;
    height: 8.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__items__logo {
    width: 6.0rem;
}

.header__items__search__input {
    border: none;
    outline: none;
    font-size: 1.4rem;
}

.header__items__search {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    width: 23.0rem;
    height: 4.0rem;
    border-radius: 1.6rem;
    padding: 1.0rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 2.0rem 0;
}

.products__detail {
    background-color: #056BC8;
    width: 31.2rem;
    height: 39.0rem;
    border-radius: 1.6rem 1.6rem 0 0;
    margin: 0 auto;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 2.0rem 3.65rem;
}

.products__detail__purchaseLink {
    background-color: #FFFFFF;
    display: flex;
    text-align: center;
    border-radius: 1.6rem;
    margin: 0 3.65rem;
    font-size: 2.4rem;
    font-weight: bold;
    padding: 1.0rem 0;
    color: #151515;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.products__detail__button {
    width: 31.2rem;
    background-color: #D9D9D9;
    border: none;
    border-radius: 0 0 1.6rem 1.6rem;
    padding: 1.1rem 0;
    font-size: 2.0rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.products__moreInfo {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.products__moreInfo.open {
    display: block;
}

.products__moreInfo__list {
    background-color: #D9D9D9;
    width: 32.0rem;
    height: 39.0rem;
    border-radius: 1.6rem 1.6rem 0 0;
    display: grid;
    font-size: 1.8rem;
    color: #151515;
    align-items: center;
    margin: 0 auto;
    margin-top: 10.0rem;
    padding: 1.7rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

li {
    display: flex;
    margin: 2rem 0;
    text-align: justify;
    font-size: 2.0rem;
    align-items: center;
}

p {
    margin-left: 1rem;
}

.products__moreInfo__button {
    width: 32.0rem;
    background-color: #6EC3D4;
    border: none;
    border-radius: 0 0 1.6rem 1.6rem;
    padding: 1.1rem 0;
    font-size: 2rem;
    justify-content: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    margin: 0 auto;
}