body {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 0 2.4rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 2.0rem 0;
}

.swiper {
    height: 47rem;
    margin: 0 auto;
    margin-bottom: 2.0rem;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
}

.swiper-pagination.active {
    background-color: #6EC3D4;
}