<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="icon" href="../../../favicon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../../public/css/reset.css">
    <link rel="stylesheet" href="../../../public/css/header.css">
</head>
<body>
    <header class="header">
        <div class="header__items">
            <img class="header__items__logo" src="../../../public/images/logo-mobile.png" alt="Logo Desconto da Maquininha">
            <div class="header__items__search">
                <i class="material-icons">search</i>
                <input class="header__items__search__input" type="search" placeholder="Buscar">
            </div>
        </div>
    </header>

</body>
</html>